<!DOCTYPE html>
<html lang="en">

<head>
        <script async="async" data-cfasync="false" src="//pl27716245.revenuecpmgate.com/54ee6745b71d138e7d917e7c9e4871cf/invoke.js"></script>
<div id="container-54ee6745b71d138e7d917e7c9e4871cf"></div>
        <script type="text/javascript">
	atOptions = {
		'key' : '057838890dd56f0ba1ce3a43abb7a60f',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/057838890dd56f0ba1ce3a43abb7a60f/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'e950b6e88ec8d3dc8976e38bcc0f0625',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/e950b6e88ec8d3dc8976e38bcc0f0625/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'ae98ec5a3ae1d3988c47af273b825ee8',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/ae98ec5a3ae1d3988c47af273b825ee8/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : '699f3ce004ea3b3338d0dd4c20d26ed0',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/699f3ce004ea3b3338d0dd4c20d26ed0/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : '4d1d5b0d56089f4e0935655a7bd36eb3',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/4d1d5b0d56089f4e0935655a7bd36eb3/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'dc205f05b629794ea69f5fb434e4ab1a',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/dc205f05b629794ea69f5fb434e4ab1a/invoke.js"></script>
        

</html>


	
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://adarsh-goel.github.io/resources/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">


</head>

<body class='cyber'>
    <header>
        <div class="toogle"></div>
        <div id="file-name" class="cyber">
            <marquee direction="left"> %s</marquee>
        </div>
    </header>

    <div class="container">
        <a href=%s>
            <button class="cybr-btn">
                Download
                <span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">_404 Error</span>
                <span aria-hidden class="cybr-btn__tag">_%s</span>
            </button>
        </a>
    </div>

    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
    <script>
        const controls = [
            'play-large',
            'rewind',
            'play',
            'fast-forward',
            'progress',
            'current-time',
            'duration',
            'mute',
            'volume',
            'captions',
            'settings',
            'pip',
            'airplay',
            'download',
            'fullscreen'
        ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const title = document.querySelector('#file-name');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
        toogle.onclick = () => {
            body.classList.toggle('dark')
            footer.classList.toggle('dark')
            title.classList.toggle('dark')
        }
    </script>
</body>
    <head>
        <script async="async" data-cfasync="false" src="//pl27716245.revenuecpmgate.com/54ee6745b71d138e7d917e7c9e4871cf/invoke.js"></script>
<div id="container-54ee6745b71d138e7d917e7c9e4871cf"></div>
        <script type="text/javascript">
	atOptions = {
		'key' : '057838890dd56f0ba1ce3a43abb7a60f',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/057838890dd56f0ba1ce3a43abb7a60f/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'e950b6e88ec8d3dc8976e38bcc0f0625',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/e950b6e88ec8d3dc8976e38bcc0f0625/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'ae98ec5a3ae1d3988c47af273b825ee8',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/ae98ec5a3ae1d3988c47af273b825ee8/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : '699f3ce004ea3b3338d0dd4c20d26ed0',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/699f3ce004ea3b3338d0dd4c20d26ed0/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : '4d1d5b0d56089f4e0935655a7bd36eb3',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/4d1d5b0d56089f4e0935655a7bd36eb3/invoke.js"></script>
        <script type="text/javascript">
	atOptions = {
		'key' : 'dc205f05b629794ea69f5fb434e4ab1a',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/dc205f05b629794ea69f5fb434e4ab1a/invoke.js"></script>
        

    </html>


